* {
    margin: 3px;
    font-family: "Roboto";
    font-style: oblique;
}

body {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgb(125, 161, 240), rgb(243, 247, 209));
    height: 100vh;
}

.azul1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 12%;
    width: 100%;
    background-color: #0080cd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-control {
    display: flex;
    height: 45%;
    width: 50%;
    border: none;
    text-align: left;
    border-radius: 5px;
}

.btn {
    color: rgba(0, 0, 0, 0.562);
    background-color: #ffffff;
    height: 45%;
    width: 3%;
}

.azullogin {
    display: flex;
    height: 45%;
    width: 10%;
    border: 1px solid #ffffff;
    background-color: #10a1dd;
    border-radius: 8px;
    margin-left: 5%;
    align-items: center;
}

.icon {
    border-radius: 8px;
    height: 80%;
    width: 25%;
}

.letras {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
    font-weight: lighter;
    color: #ffffff;
}

.bg-modal {
    height: 100%;
    width: 100%;
    top: -100%;
    transition: 350ms;
    background-image: linear-gradient(to top left, rgb(12, 22, 168), rgb(0, 047, 92), rgb(121, 14, 131));
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal {
    height: 65%;
    width: 40%;
    border-radius: 10px;
    background-image: linear-gradient(to top, #ffffff, #ffffff, #88acc9);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#segundo {
    top: -100%;
    left: 30%;
    position: fixed;
    display: block;
    z-index: 2;
}

#terceiro {
    top: -100%;
    left: 30%;
    position: fixed;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.close {
    font-size: 22px;
    margin: 20px;
    transition: 350ms;
    color: #000000;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

.close:hover {
    color: #000000;
    opacity: 1;
}

.log {
    margin-top: 6%;
    margin-left: 7%;
    font-size: 80px;
}

#textForm2 {
    margin: 4%;
    font-size: 16px;
    height: 30px;
    width: 60%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.emailsenha {
    font-size: 20px;
    margin-top: 10%;
}

#textEmail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#textPassword {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botaoo {
    margin-top: 5%;
    height: 50px;
    width: 40%;
    border-radius: 50px;
    border: none;
    background-color: #1d1c1c;
    color: #ffffff;
}

.botaoo2 {
    margin-top: 5%;
    height: 50px;
    width: 40%;
    border-radius: 50px;
    border: none;
    background-color: #1d1c1c;
    color: #ffffff;
}